# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
pyrightconfig.json

# udit's specific files
todo.md
.ignore/

# Submission files
**/submission*/
**/output/
**/input/
/.agario/

# Local running outputs
.agario/
bot_metrics*.jsonl
app*.log
